<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Ops！Tempo没有理解你的请求嗷~</title>
</head>
<body style="background-image:url(http://www.dmoe.cc/random.php);">
<br>
<br>
<br>
<br>
<br>
<br>
<div style="width: 100%;height: 100%;text-align: center;">
    <h1>资源逃到神秘的地方去了</h1>
    <a href="https://tmp-oj.ctrl-s.cn" style="color:gray; font-size:25px;">返回主页看看？</a>
    <h1>QQ:1614143338</h1>
    <h1 style="color: red;">如果我有什么故障的话，联系上方QQ嗷</h1>
    <h1>By Hexrt</h1>
</div>
</body>
</html>